<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <solution>
    <!-- This is necessary to prevent nuget from adding packages and their content to source control. -->
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <!-- No internet-facing package source should appear here!  Only officially sanctioned internal sources are allowed. -->
    <!-- Make sure the only package sources are ones we have defined here. -->
    <clear />
    <add key="DnA.ServiceLoggingLibrary" value="https://microsoft.pkgs.visualstudio.com/_packaging/DnA.ServiceLoggingLibrary/nuget/v3/index.json" />
    <add key="Universal Store" value="https://microsoft.pkgs.visualstudio.com/_packaging/Universal.Store/nuget/v3/index.json" />
    <add key="ReferenceSvcRefactor" value="https://microsoft.pkgs.visualstudio.com/_packaging/ReferenceSvcRefactor/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>

</configuration>